---
// Copyright.astro
const year = new Date().getFullYear();
interface Props {
  owner?: string;
  rights?: string;
}
const { owner = "Ryuki Mikawa", rights = "All rights reserved" } = Astro.props;
---

<div class="mt-12 pt-6 text-center copyright">
  <p>© {year} {owner}. {rights}</p>
</div>
